In [1]:
import pandas as pd
import numpy as np

In [2]:
df_vendas = pd.DataFrame({
    'produto': ["Camiseta", "Calça", "Tênis", "Jaqueta"],
    'preço': [50, 80, 120, np.nan], 
    'quantidade': [10, 5, np.nan, 2]
})

In [3]:
df_vendas.head()

    produto  preço  quantidade
0  Camiseta   50.0        10.0
1     Calça   80.0         5.0
2     Tênis  120.0         NaN
3   Jaqueta    NaN         2.0

In [4]:
df_vendas.isnull()

   produto  preço  quantidade
0    False  False       False
1    False  False       False
2    False  False        True
3    False   True       False

In [5]:
df_vendas.isnull().sum()

produto       0
preço         1
quantidade    1
dtype: int64

In [10]:
df_vendas['vendas_media'] = df_vendas['quantidade'].fillna(df_vendas['quantidade'].mean().round(2))
df_vendas['valor_preenchido'] = df_vendas['preço'].fillna(0)
df_vendas

    produto  preço  quantidade  vendas_media  valor_preenchido
0  Camiseta   50.0        10.0         10.00              50.0
1     Calça   80.0         5.0          5.00              80.0
2     Tênis  120.0         NaN          5.67             120.0
3   Jaqueta    NaN         2.0          2.00               0.0